.iconImg {
	width: 82px;
	height: 82px;
	background-repeat: no-repeat;
}

.img-d_banbenguanli { background: url('../images/icons/d_banbenguanli.png') no-repeat center;}
.img-d_biaodan { background: url('../images/icons/d_biaodan.png') no-repeat center;}
.img-d_fahaoqishezhi { background: url('../images/icons/d_fahaoqishezhi.png') no-repeat center;}
.img-d_gongju { background: url('../images/icons/d_gongju.png') no-repeat center;}
.img-d_jiaohumoshiguanli { background: url('../images/icons/d_jiaohumoshiguanli.png') no-repeat center;}
.img-d_jiekouxinxiguanli { background: url('../images/icons/d_jiekouxinxiguanli.png') no-repeat center;}
.img-d_jieruxitongguanli { background: url('../images/icons/d_jieruxitongguanli.png') no-repeat center;}
.img-d_kaifa { background: url('../images/icons/d_kaifa.png') no-repeat center;}
.img-d_liucheng { background: url('../images/icons/d_liucheng.png') no-repeat center;}
.img-d_shujujianmo { background: url('../images/icons/d_shujujianmo.png') no-repeat center;}
.img-d_xinjian { background: url('../images/icons/d_xinjian.png') no-repeat center;}
.img-d_zhushujuguanli { background: url('../images/icons/d_zhushujuguanli.png') no-repeat center;}
.img-d_ziduanyinshe { background: url('../images/icons/d_ziduanyinshe.png') no-repeat center;}
.img-d_banjie { background: url('../images/icons/d_banjie.png') no-repeat center;}
.img-d_chaosong { background: url('../images/icons/d_chaosong.png') no-repeat center;}
.img-d_daiban { background: url('../images/icons/d_daiban.png') no-repeat center;}
.img-d_renwu { background: url('../images/icons/d_renwu.png') no-repeat center;}
.img-d_woderenwu { background: url('../images/icons/d_woderenwu.png') no-repeat center;}
.img-d_yiban { background: url('../images/icons/d_yiban.png') no-repeat center;}
.img-d_zhuanban { background: url('../images/icons/d_zhuanban.png') no-repeat center;}
.img-p-baogaoguidang { background: url('../images/icons/p_baogaoguidang.png') no-repeat center;}
.img-p-biaozhunguifan { background: url('../images/icons/p_biaozhunguifan.png') no-repeat center;}
.img-p-caigoushenqing { background: url('../images/icons/p_caigoushenqing.png') no-repeat center;}
.img-p-chuchangqianzhunbei { background: url('../images/icons/p_chuchangqianzhunbei.png') no-repeat center;}
.img-p-fengxian { background: url('../images/icons/p_fengxian.png') no-repeat center;}
.img-p-gaikuang { background: url('../images/icons/p_gaikuang.png') no-repeat center;}
.img-p-gonggonyusuan { background: url('../images/icons/p_gonggonyusuan.png') no-repeat center;}
.img-p-hetong { background: url('../images/icons/p_hetong.png') no-repeat center;}
.img-p-hetongguanli { background: url('../images/icons/p_hetongguanli.png') no-repeat center;}
.img-p-huojiang { background: url('../images/icons/p_huojiang.png') no-repeat center;}
.img-p-jieti { background: url('../images/icons/p_jieti.png') no-repeat center;}
.img-p-jihua { background: url('../images/icons/p_jihua.png') no-repeat center;}
.img-p-jingzhengxingyusuan { background: url('../images/icons/p_jingzhengxingyusuan.png') no-repeat center;}
.img-p-jishuwenjian { background: url('../images/icons/p_jishuwenjian.png') no-repeat center;}
.img-p-jizhongyusuan { background: url('../images/icons/p_jizhongyusuan.png') no-repeat center;}
.img-p-ketixiada { background: url('../images/icons/p_ketixiada.png') no-repeat center;}
.img-p-linshiyusuan { background: url('../images/icons/p_linshiyusuan.png') no-repeat center;}
.img-p-lixiangshenqing { background: url('../images/icons/p_lixiangshenqing.png') no-repeat center;}
.img-p-ruanjian { background: url('../images/icons/p_ruanjian.png') no-repeat center;}
.img-p-shijian { background: url('../images/icons/p_shijian.png') no-repeat center;}
.img-p-shiyan { background: url('../images/icons/p_shiyan.png') no-repeat center;}
.img-p-shiyanjihua { background: url('../images/icons/p_shiyanjihua.png') no-repeat center;}
.img-p-shiyanshishi { background: url('../images/icons/p_shiyanshishi.png') no-repeat center;}
.img-p-tixiyaoqiu { background: url('../images/icons/p_tixiyaoqiu.png') no-repeat center;}
.img-p-wenzhuang { background: url('../images/icons/p_wenzhuang.png') no-repeat center;}
.img-p-wodeketi { background: url('../images/icons/p_wodeketi.png') no-repeat center;}
.img-p-woderenwu { background: url('../images/icons/p_woderenwu.png') no-repeat center;}
.img-p-wodexiaoxi { background: url('../images/icons/p_wodexiaoxi.png') no-repeat center;}
.img-p-xiangmuchaxunku { background: url('../images/icons/p_xiangmuchaxunku.png') no-repeat center;}
.img-p-xiangmufabu { background: url('../images/icons/p_xiangmufabu.png') no-repeat center;}
.img-p-xiezuorenwushu { background: url('../images/icons/p_xiezuorenwushu.png') no-repeat center;}
.img-p-yuasuan { background: url('../images/icons/p_yuasuan.png') no-repeat center;}
.img-p-yujing { background: url('../images/icons/p_yujing.png') no-repeat center;}
.img-p-yusuanliebiao { background: url('../images/icons/p_yusuanliebiao.png') no-repeat center;}
.img-p-zhuanli { background: url('../images/icons/p_zhuanli.png') no-repeat center;}