@font-face {font-family: "iconfont";
  src: url('../../fonts/iconfont.eot?t=1513217191676'); /* IE9*/
  src: url('../../fonts/iconfont.eot?t=1513217191676#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/iconfont.ttf?t=1513217191676') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../fonts/iconfont.svg?t=1513217191676#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "icomoon";
	src: url('../../fonts/icomoon.eot');/* IE9*/
	src: url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */   
	url('../../fonts/icomoon.woff') format('woff'), /* chrome, firefox */   
	url('../../fonts/icomoon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/   
	url('../../fonts/icomoon.svg#iconfont') format('svg'); /* iOS 4.1- */ 
}
 
.icomoon {
	font-family: "icomoon" !important;
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;     
}

/* dp���� */

.icon-xiaohuojian:before { content: "\e602"; font-family:"iconfont";}
.icon-augichuojian:before { content: "\e630"; font-family:"iconfont";}
.icon-1180huojiandaodan:before { content: "\ec46"; font-family:"iconfont";}
.icon-weixing:before { content: "\e606"; font-family:"iconfont";}
.icon-Group-:before { content: "\e680"; font-family:"iconfont";}

.icon-file:before { content: "\e653"; font-family:"iconfont";}
.icon-yulanbiaodan:before { content: "\e706"; font-family:"iconfont";}
.icon-biaodanunfinish:before { content: "\e69e"; font-family:"iconfont";}

.icon-ic_layers_px:before { content: "\e70d"; font-family:"iconfont";}

.icon-shezhi:before { content: "\e622"; font-family:"iconfont";}



/* common styles */
.icon-circle:before { content: "\e620"; font-family:"iconfont";}

.icon-expandfolder:before { content: "\e600"; font-family:"iconfont";}

.icon-mainpage:before { content: "\e62f"; font-family:"iconfont";}

.icon-ok-sign:before { content: "\e645"; font-family:"iconfont";}

.icon-lock:before { content: "\e6c6"; font-family:"iconfont";}

.icon-filexml:before { content: "\e611"; font-family:"iconfont";}

.icon-all:before { content: "\e696"; font-family:"iconfont";}

.icon-back:before { content: "\e697"; font-family:"iconfont";}

.icon-cart:before { content: "\e698"; font-family:"iconfont";}

.icon-category:before { content: "\e699"; font-family:"iconfont";}

.icon-close:before { content: "\e69a"; font-family:"iconfont";}

.icon-comments:before { content: "\e69b"; font-family:"iconfont";}

.icon-cry:before { content: "\e69c"; font-family:"iconfont";}

.icon-delete:before { content: "\e69d"; font-family:"iconfont";}

.icon-edit:before { content: "\e69e"; font-family:"iconfont";}

.icon-email:before { content: "\e69f"; font-family:"iconfont";}

.icon-favorite:before { content: "\e6a0"; font-family:"iconfont";}

.icon-folder:before { content: "\e6a1"; font-family:"iconfont";}

.icon-form:before { content: "\e6a2"; font-family:"iconfont";}

.icon-help:before { content: "\e6a3"; font-family:"iconfont";}

.icon-information:before { content: "\e6a4"; font-family:"iconfont";}

.icon-less:before { content: "\e6a5"; font-family:"iconfont";}

.icon-moreunfold:before { content: "\e6a6"; font-family:"iconfont";}

.icon-more:before { content: "\e6a7"; font-family:"iconfont";}

.icon-pic:before { content: "\e6a8"; font-family:"iconfont";}

.icon-qrcode:before { content: "\e6a9"; font-family:"iconfont";}

.icon-refresh:before { content: "\e6aa"; font-family:"iconfont";}

.icon-rfq:before { content: "\e6ab"; font-family:"iconfont";}

.icon-search:before { content: "\e6ac"; font-family:"iconfont";}

.icon-selected:before { content: "\e6ad"; font-family:"iconfont";}

.icon-set:before { content: "\e6ae"; font-family:"iconfont";}

.icon-smile:before { content: "\e6af"; font-family:"iconfont";}

.icon-success:before { content: "\e6b1"; font-family:"iconfont";}

.icon-survey:before { content: "\e6b2"; font-family:"iconfont";}

.icon-training:before { content: "\e6b3"; font-family:"iconfont";}

.icon-viewgallery:before { content: "\e6b4"; font-family:"iconfont";}

.icon-viewlist:before { content: "\e6b5"; font-family:"iconfont";}

.icon-warning:before { content: "\e6b6"; font-family:"iconfont";}

.icon-wrong:before { content: "\e6b7"; font-family:"iconfont";}

.icon-account:before { content: "\e6b8"; font-family:"iconfont";}

.icon-add:before { content: "\e6b9"; font-family:"iconfont";}

.icon-atm:before { content: "\e6ba"; font-family:"iconfont";}

.icon-clock:before { content: "\e6bb"; font-family:"iconfont";}

.icon-remind:before { content: "\e6bc"; font-family:"iconfont";}

.icon-calendar:before { content: "\e6bf"; font-family:"iconfont";}

.icon-refresh1:before { content: "\e639"; font-family:"iconfont";}

.icon-help1:before { content: "\e6ff"; font-family:"iconfont";}

.icon-closefolder:before { content: "\e60c"; font-family:"iconfont";}

.icon-attachment:before { content: "\e6c0"; font-family:"iconfont";}

.icon-3column:before { content: "\e6c3"; font-family:"iconfont";}

.icon-4column:before { content: "\e6c4"; font-family:"iconfont";}

.icon-discount:before { content: "\e6c5"; font-family:"iconfont";}

.icon-service:before { content: "\e6c7"; font-family:"iconfont";}

.icon-print:before { content: "\e6c9"; font-family:"iconfont";}

.icon-box:before { content: "\e6cb"; font-family:"iconfont";}

.icon-process:before { content: "\e6ce"; font-family:"iconfont";}

.icon-bags:before { content: "\e6d1"; font-family:"iconfont";}

.icon-electrical:before { content: "\e6d4"; font-family:"iconfont";}

.icon-home:before { content: "\e6d7"; font-family:"iconfont";}

.icon-electronics:before { content: "\e6da"; font-family:"iconfont";}

.icon-gifts:before { content: "\e6db"; font-family:"iconfont";}

.icon-apparel:before { content: "\e6dc"; font-family:"iconfont";}

.icon-lights:before { content: "\e6de"; font-family:"iconfont";}

.icon-sports:before { content: "\e6e0"; font-family:"iconfont";}

.icon-auto:before { content: "\e6e3"; font-family:"iconfont";}

.icon-jewelry:before { content: "\e6e4"; font-family:"iconfont";}

.icon-trade-assurance:before { content: "\e6e5"; font-family:"iconfont";}

.icon-browse:before { content: "\e6e6"; font-family:"iconfont";}

.icon-rfqqm:before { content: "\e6e7"; font-family:"iconfont";}

.icon-rfqquantity:before { content: "\e6e8"; font-family:"iconfont";}

.icon-atmaway:before { content: "\e6e9"; font-family:"iconfont";}

.icon-rfq1:before { content: "\e6eb"; font-family:"iconfont";}

.icon-scanning:before { content: "\e6ec"; font-family:"iconfont";}

.icon-compare:before { content: "\e6ee"; font-family:"iconfont";}

.icon-filter:before { content: "\e6f1"; font-family:"iconfont";}

.icon-pin:before { content: "\e6f2"; font-family:"iconfont";}

.icon-history:before { content: "\e6f3"; font-family:"iconfont";}

.icon-productfeatures:before { content: "\e6f4"; font-family:"iconfont";}

.icon-supplierfeatures:before { content: "\e6f5"; font-family:"iconfont";}

.icon-similarproduct:before { content: "\e6f6"; font-family:"iconfont";}

.icon-link:before { content: "\e6f7"; font-family:"iconfont";}

.icon-cut:before { content: "\e6f8"; font-family:"iconfont";}

.icon-navlist:before { content: "\e6fa"; font-family:"iconfont";}

.icon-imagetext:before { content: "\e6fb"; font-family:"iconfont";}

.icon-text:before { content: "\e6fc"; font-family:"iconfont";}

.icon-move:before { content: "\e6fd"; font-family:"iconfont";}

.icon-eraser:before { content: "\e615"; font-family:"iconfont";}

.icon-subtract:before { content: "\e6fe"; font-family:"iconfont";}

.icon-dollar:before { content: "\e702"; font-family:"iconfont";}

.icon-return:before { content: "\e65a"; font-family:"iconfont";}

.icon-upload:before { content: "\e633"; font-family:"iconfont";}

.icon-raw:before { content: "\e704"; font-family:"iconfont";}

.icon-office:before { content: "\e705"; font-family:"iconfont";}

.icon-agriculture:before { content: "\e707"; font-family:"iconfont";}

.icon-machinery:before { content: "\e709"; font-family:"iconfont";}

.icon-biaodan:before { content: "\e60b"; font-family:"iconfont";}

.icon-assessedbadge:before { content: "\e70a"; font-family:"iconfont";}

.icon-gerenzhongxin:before { content: "\e70b"; font-family:"iconfont";}

.icon-jifen:before { content: "\e70c"; font-family:"iconfont";}

.icon-operation:before { content: "\e70e"; font-family:"iconfont";}

.icon-remind1:before { content: "\e713"; font-family:"iconfont";}

.icon-icondownload:before { content: "\e714"; font-family:"iconfont";}

.icon-uparrow:before { content: "\e80b"; font-family:"iconfont";}

.icon-downarrow:before { content: "\e80c"; font-family:"iconfont";}

.icon-map:before { content: "\e715"; font-family:"iconfont";}

.icon-forbidcircleo:before { content: "\e646"; font-family:"iconfont";}

.icon-cancel:before { content: "\e657"; font-family:"iconfont";}

.icon-bad:before { content: "\e716"; font-family:"iconfont";}

.icon-good:before { content: "\e717"; font-family:"iconfont";}

.icon-skip:before { content: "\e718"; font-family:"iconfont";}

.icon-iconfontplay2:before { content: "\e719"; font-family:"iconfont";}

.icon-iconfontstop:before { content: "\e71a"; font-family:"iconfont";}

.icon-compass:before { content: "\e71b"; font-family:"iconfont";}

.icon-security:before { content: "\e71c"; font-family:"iconfont";}

.icon-share:before { content: "\e71d"; font-family:"iconfont";}

.icon-store:before { content: "\e722"; font-family:"iconfont";}

.icon-manageorder:before { content: "\e723"; font-family:"iconfont";}

.icon-rejectedorder:before { content: "\e724"; font-family:"iconfont";}

.icon-phone:before { content: "\e725"; font-family:"iconfont";}

.icon-bussinessman:before { content: "\e726"; font-family:"iconfont";}

.icon-more1:before { content: "\e612"; font-family:"iconfont";}

.icon-yinzhang:before { content: "\e60e"; font-family:"iconfont";}

.icon-reject:before { content: "\e62b"; font-family:"iconfont";}

.icon-mobilephone:before { content: "\e72a"; font-family:"iconfont";}

.icon-image:before { content: "\e64b"; font-family:"iconfont";}

.icon-favoritesfilling:before { content: "\e730"; font-family:"iconfont";}

.icon-accountfilling:before { content: "\e732"; font-family:"iconfont";}

.icon-down:before { content: "\e669"; font-family:"iconfont";}

.icon-up:before { content: "\e66a"; font-family:"iconfont";}

.icon-unlock:before { content: "\e63b"; font-family:"iconfont";}

.icon-round:before { content: "\e661"; font-family:"iconfont";}

.icon-set1:before { content: "\e610"; font-family:"iconfont";}

.icon-yincang:before { content: "\e6c2"; font-family:"iconfont";}

.icon-exl:before { content: "\e73f"; font-family:"iconfont";}

.icon-pdf:before { content: "\e740"; font-family:"iconfont";}

.icon-zip:before { content: "\e741"; font-family:"iconfont";}

.icon-sorting:before { content: "\e743"; font-family:"iconfont";}

.icon-check:before { content: "\e604"; font-family:"iconfont";}

.icon-copy:before { content: "\e744"; font-family:"iconfont";}

.icon-table:before { content: "\e6c8"; font-family:"iconfont";}

.icon-icon:before { content: "\e608"; font-family:"iconfont";}

.icon-save:before { content: "\e747"; font-family:"iconfont";}

.icon-inquirytemplate:before { content: "\e749"; font-family:"iconfont";}

.icon-templatedefault:before { content: "\e74a"; font-family:"iconfont";}

.icon-eraser1:before { content: "\e616"; font-family:"iconfont";}

.icon-tabshouqi:before { content: "\e63d"; font-family:"iconfont";}

.icon-auth:before { content: "\e667"; font-family:"iconfont";}

.icon-shangchuan:before { content: "\e74b"; font-family:"iconfont";}

.icon-xml:before { content: "\e665"; font-family:"iconfont";}

.icon-survey1:before { content: "\e74e"; font-family:"iconfont";}

.icon-blueprintagree:before { content: "\e60a"; font-family:"iconfont";}

.icon-feedback:before { content: "\e609"; font-family:"iconfont";}

.icon-tag2:before { content: "\e643"; font-family:"iconfont";}

.icon-iconfonthaofang26-copy-copy:before { content: "\e605"; font-family:"iconfont";}

.icon-data:before { content: "\e757"; font-family:"iconfont";}

.icon-trade:before { content: "\e758"; font-family:"iconfont";}

.icon-minus:before { content: "\e601"; font-family:"iconfont";}

.icon-switch:before { content: "\e640"; font-family:"iconfont";}

.icon-kshujuqianyi:before { content: "\e6ca"; font-family:"iconfont";}

.icon-extend:before { content: "\e60d"; font-family:"iconfont";}

.icon-create:before { content: "\e617"; font-family:"iconfont";}

.icon-branch:before { content: "\e866"; font-family:"iconfont";}

.icon-warn:before { content: "\e68b"; font-family:"iconfont";}

.icon-dialog_icon:before { content: "\e603"; font-family:"iconfont";}

.icon-shimingrenzheng:before { content: "\e618"; font-family:"iconfont";}

.icon-signboard:before { content: "\e75c"; font-family:"iconfont";}

.icon-shuffling-banner:before { content: "\e75e"; font-family:"iconfont";}

.icon-component:before { content: "\e75f"; font-family:"iconfont";}

.icon-component-filling:before { content: "\e760"; font-family:"iconfont";}

.icon-color:before { content: "\e761"; font-family:"iconfont";}

.icon-light:before { content: "\e684"; font-family:"iconfont";}

.icon-color-filling:before { content: "\e7cd"; font-family:"iconfont";}

.icon-Collapse:before { content: "\e6b0"; font-family:"iconfont";}

.icon-Expand:before { content: "\e6bd"; font-family:"iconfont";}

.icon-favorites:before { content: "\e7ce"; font-family:"iconfont";}

.icon-originalimage:before { content: "\e806"; font-family:"iconfont";}

.icon-Calculator:before { content: "\e812"; font-family:"iconfont";}

.icon-wrong-1:before { content: "\e619"; font-family:"iconfont";}

.icon-daoru:before { content: "\e61f"; font-family:"iconfont";}

.icon-start-up:before { content: "\e750"; font-family:"iconfont";}

.icon-feedback1:before { content: "\e63c"; font-family:"iconfont";}

.icon-gongju:before { content: "\e6c1"; font-family:"iconfont";}

.icon-zhankai:before { content: "\e61a"; font-family:"iconfont";}

.icon-signout:before { content: "\e851"; font-family:"iconfont";}

.icon-video:before { content: "\e820"; font-family:"iconfont";}

.icon-auth1:before { content: "\e61c"; font-family:"iconfont";}

.icon-close1:before { content: "\e821"; font-family:"iconfont";}

.icon-circle1:before { content: "\e6be"; font-family:"iconfont";}

.icon-gongneng:before { content: "\e751"; font-family:"iconfont";}

.icon-yewubaobiao:before { content: "\e61b"; font-family:"iconfont";}

.icon-icos:before { content: "\e6ea"; font-family:"iconfont";}

.icon-form-setting:before { content: "\e61d"; font-family:"iconfont";}

.icon-fenpei:before { content: "\e685"; font-family:"iconfont";}

.icon-home2:before { content: "\e901"; font-family: "icomoon"; }

.icon-home3:before { content: "\e902"; font-family: "icomoon"; }
 
.icon-office:before { content: "\e903"; font-family: "icomoon"; }
 
.icon-newspaper:before { content: "\e904";font-family: "icomoon";}
 
.icon-pencil:before {content: "\e905";font-family: "icomoon"; }
 
.icon-pencil2:before {content: "\e906";font-family: "icomoon"; }
 
.icon-quill:before {content: "\e907";font-family: "icomoon"; }
 
.icon-pen:before {content: "\e908";font-family: "icomoon"; }
 
.icon-blog:before {content: "\e909";font-family: "icomoon"; }
 
.icon-eyedropper:before {content: "\e90a";font-family: "icomoon"; }
 
.icon-droplet:before {content: "\e90b";font-family: "icomoon"; }
 
.icon-paint-format:before {content: "\e90c";font-family: "icomoon"; }
 
.icon-image:before {content: "\e90d";font-family: "icomoon"; }
 
.icon-images:before {content: "\e90e";font-family: "icomoon"; }
 
.icon-camera:before {content: "\e90f";font-family: "icomoon"; }
 
.icon-headphones:before {content: "\e910";font-family: "icomoon"; }
 
.icon-music:before {content: "\e911";font-family: "icomoon"; }
 
.icon-play:before {content: "\e912";font-family: "icomoon"; }
 
.icon-film:before {content: "\e913";font-family: "icomoon"; }
 
.icon-video-camera:before {content: "\e914";font-family: "icomoon"; }
 
.icon-dice:before {content: "\e915";font-family: "icomoon"; }
 
.icon-pacman:before {content: "\e916";font-family: "icomoon"; }
 
.icon-spades:before {content: "\e917";font-family: "icomoon"; }
 
.icon-clubs:before {content: "\e918";font-family: "icomoon"; }
 
.icon-diamonds:before {content: "\e919";font-family: "icomoon"; }
 
.icon-bullhorn:before {content: "\e91a";font-family: "icomoon"; }
 
.icon-connection:before {content: "\e91b";font-family: "icomoon"; }
 
.icon-podcast:before {content: "\e91c";font-family: "icomoon"; }
 
.icon-feed:before {content: "\e91d";font-family: "icomoon"; }
 
.icon-mic:before {content: "\e91e";font-family: "icomoon"; }
 
.icon-book:before {content: "\e91f";font-family: "icomoon"; }
 
.icon-books:before {content: "\e920";font-family: "icomoon"; }
 
.icon-library:before {content: "\e921";font-family: "icomoon"; }
 
.icon-file-text:before {content: "\e922";font-family: "icomoon"; }
 
.icon-profile:before {content: "\e923";font-family: "icomoon"; }
 
.icon-file-empty:before {content: "\e924";font-family: "icomoon"; }
 
.icon-files-empty:before {content: "\e925";font-family: "icomoon"; }
 
.icon-file-text2:before {content: "\e926";font-family: "icomoon"; }
 
.icon-file-picture:before {content: "\e927";font-family: "icomoon"; }
 
.icon-file-music:before {content: "\e928";font-family: "icomoon"; }
 
.icon-file-play:before {content: "\e929";font-family: "icomoon"; }
 
.icon-file-video:before {content: "\e92a";font-family: "icomoon"; }
 
.icon-file-zip:before {content: "\e92b";font-family: "icomoon"; }
 
.icon-copy:before {content: "\e92c";font-family: "icomoon"; }
 
.icon-paste:before {content: "\e92d";font-family: "icomoon"; }
 
.icon-stack:before {content: "\e92e";font-family: "icomoon"; }
 
.icon-folder:before {content: "\e92f";font-family: "icomoon"; }
 
.icon-folder-open:before {content: "\e930";font-family: "icomoon"; }
 
.icon-folder-plus:before {content: "\e931";font-family: "icomoon"; }
 
.icon-folder-minus:before {content: "\e932";font-family: "icomoon"; }
 
.icon-folder-download:before {content: "\e933";font-family: "icomoon"; }
 
.icon-folder-upload:before {content: "\e934";font-family: "icomoon"; }
 
.icon-price-tag:before {content: "\e935";font-family: "icomoon"; }
 
.icon-price-tags:before {content: "\e936";font-family: "icomoon"; }
 
.icon-barcode:before {content: "\e937";font-family: "icomoon"; }
 
.icon-qrcode:before {content: "\e938";font-family: "icomoon"; }
 
.icon-ticket:before {content: "\e939";font-family: "icomoon"; }
 
.icon-cart:before {content: "\e93a";font-family: "icomoon"; }
 
.icon-coin-dollar:before {content: "\e93b";font-family: "icomoon"; }
 
.icon-coin-euro:before {content: "\e93c";font-family: "icomoon"; }
 
.icon-coin-pound:before {content: "\e93d";font-family: "icomoon"; }
 
.icon-coin-yen:before {content: "\e93e";font-family: "icomoon"; }
 
.icon-credit-card:before {content: "\e93f";font-family: "icomoon"; }
 
.icon-calculator:before {content: "\e940";font-family: "icomoon"; }
 
.icon-lifebuoy:before {content: "\e941";font-family: "icomoon"; }
 
.icon-phone:before {content: "\e942";font-family: "icomoon"; }
 
.icon-phone-hang-up:before {content: "\e943";font-family: "icomoon"; }
 
.icon-address-book:before {content: "\e944";font-family: "icomoon"; }
 
.icon-envelop:before {content: "\e945";font-family: "icomoon"; }
 
.icon-pushpin:before {content: "\e946";font-family: "icomoon"; }
 
.icon-location:before {content: "\e947";font-family: "icomoon"; }
 
.icon-location2:before {content: "\e948";font-family: "icomoon"; }
 
.icon-compass:before {content: "\e949";font-family: "icomoon"; }
 
.icon-compass2:before {content: "\e94a";font-family: "icomoon"; }
 
.icon-map:before {content: "\e94b";font-family: "icomoon"; }
 
.icon-map2:before {content: "\e94c";font-family: "icomoon"; }
 
.icon-history:before {content: "\e94d";font-family: "icomoon"; }
 
.icon-clock:before {content: "\e94e";font-family: "icomoon"; }
 
.icon-clock2:before {content: "\e94f";font-family: "icomoon"; }
 
.icon-alarm:before {content: "\e950";font-family: "icomoon"; }
 
.icon-bell:before {content: "\e951";font-family: "icomoon"; }
 
.icon-stopwatch:before {content: "\e952";font-family: "icomoon"; }
 
.icon-calendar:before {content: "\e953";font-family: "icomoon"; }
 
.icon-printer:before {content: "\e954";font-family: "icomoon"; }
 
.icon-keyboard:before {content: "\e955";font-family: "icomoon"; }
 
.icon-display:before {content: "\e956";font-family: "icomoon"; }
 
.icon-laptop:before {content: "\e957";font-family: "icomoon"; }
 
.icon-mobile:before {content: "\e958";font-family: "icomoon"; }
 
.icon-mobile2:before {content: "\e959";font-family: "icomoon"; }
 
.icon-tablet:before {content: "\e95a";font-family: "icomoon"; }
 
.icon-tv:before {content: "\e95b";font-family: "icomoon"; }
 
.icon-drawer:before {content: "\e95c";font-family: "icomoon"; }
 
.icon-drawer2:before {content: "\e95d";font-family: "icomoon"; }
 
.icon-box-add:before {content: "\e95e";font-family: "icomoon"; }
 
.icon-box-remove:before {content: "\e95f";font-family: "icomoon"; }
 
.icon-download:before {content: "\e960";font-family: "icomoon"; }
 
.icon-upload:before {content: "\e961";font-family: "icomoon"; }
 
.icon-floppy-disk:before {content: "\e962";font-family: "icomoon"; }
 
.icon-drive:before {content: "\e963";font-family: "icomoon"; }
 
.icon-database:before {content: "\e964";font-family: "icomoon"; }
 
.icon-undo:before {content: "\e965";font-family: "icomoon"; }
 
.icon-redo:before {content: "\e966";font-family: "icomoon"; }
 
.icon-undo2:before {content: "\e967";font-family: "icomoon"; }
 
.icon-redo2:before {content: "\e968";font-family: "icomoon"; }
 
.icon-forward:before {content: "\e969";font-family: "icomoon"; }
 
.icon-reply:before {content: "\e96a";font-family: "icomoon"; }
 
.icon-bubble:before {content: "\e96b";font-family: "icomoon"; }
 
.icon-bubbles:before {content: "\e96c";font-family: "icomoon"; }
 
.icon-bubbles2:before {content: "\e96d";font-family: "icomoon"; }
 
.icon-bubble2:before {content: "\e96e";font-family: "icomoon"; }
 
.icon-bubbles3:before {content: "\e96f";font-family: "icomoon"; }
 
.icon-bubbles4:before {content: "\e970";font-family: "icomoon"; }
 
.icon-user:before {content: "\e971";font-family: "icomoon"; }
 
.icon-users:before {content: "\e972";font-family: "icomoon"; }
 
.icon-user-plus:before {content: "\e973";font-family: "icomoon"; }
 
.icon-user-minus:before {content: "\e974";font-family: "icomoon"; }
 
.icon-user-check:before {content: "\e975";font-family: "icomoon"; }
 
.icon-user-tie:before {content: "\e976";font-family: "icomoon"; }
 
.icon-quotes-left:before {content: "\e977";font-family: "icomoon"; }
 
.icon-quotes-right:before {content: "\e978";font-family: "icomoon"; }
 
.icon-hour-glass:before {content: "\e979";font-family: "icomoon"; }
 
.icon-spinner:before {content: "\e97a";font-family: "icomoon"; }
 
.icon-spinner2:before {content: "\e97b";font-family: "icomoon"; }
 
.icon-spinner3:before {content: "\e97c";font-family: "icomoon"; }
 
.icon-spinner4:before {content: "\e97d";font-family: "icomoon"; }
 
.icon-spinner5:before {content: "\e97e";font-family: "icomoon"; }
 
.icon-spinner6:before {content: "\e97f";font-family: "icomoon"; }
 
.icon-spinner7:before {content: "\e980";font-family: "icomoon"; }
 
.icon-spinner8:before {content: "\e981";font-family: "icomoon"; }
 
.icon-spinner9:before {content: "\e982";font-family: "icomoon"; }
 
.icon-spinner10:before {content: "\e983";font-family: "icomoon"; }
 
.icon-spinner11:before {content: "\e984";font-family: "icomoon"; }
 
.icon-binoculars:before {content: "\e985";font-family: "icomoon"; }
 
.icon-search:before {content: "\e986";font-family: "icomoon"; }
 
.icon-zoom-in:before {content: "\e987";font-family: "icomoon"; }
 
.icon-zoom-out:before {content: "\e988";font-family: "icomoon"; }
 
.icon-enlarge:before {content: "\e989";font-family: "icomoon"; }
 
.icon-shrink:before {content: "\e98a";font-family: "icomoon"; }
 
.icon-enlarge2:before {content: "\e98b";font-family: "icomoon"; }
 
.icon-shrink2:before {content: "\e98c";font-family: "icomoon"; }
 
.icon-key:before {content: "\e98d";font-family: "icomoon"; }
 
.icon-key2:before {content: "\e98e";font-family: "icomoon"; }
 
.icon-lock:before {content: "\e98f";font-family: "icomoon"; }
 
.icon-unlocked:before {content: "\e990";font-family: "icomoon"; }
 
.icon-wrench:before {content: "\e991";font-family: "icomoon"; }
 
.icon-equalizer:before {content: "\e992";font-family: "icomoon"; }
 
.icon-equalizer2:before {content: "\e993";font-family: "icomoon"; }
 
.icon-cog:before {content: "\e994";font-family: "icomoon"; }
 
.icon-cogs:before {content: "\e995";font-family: "icomoon"; }
 
.icon-hammer:before {content: "\e996";font-family: "icomoon"; }
 
.icon-magic-wand:before {content: "\e997";font-family: "icomoon"; }
 
.icon-aid-kit:before {content: "\e998";font-family: "icomoon"; }
 
.icon-bug:before {content: "\e999";font-family: "icomoon"; }
 
.icon-pie-chart:before {content: "\e99a";font-family: "icomoon"; }
 
.icon-stats-dots:before {content: "\e99b";font-family: "icomoon"; }
 
.icon-stats-bars:before {content: "\e99c";font-family: "icomoon"; }
 
.icon-stats-bars2:before {content: "\e99d";font-family: "icomoon"; }
 
.icon-trophy:before {content: "\e99e";font-family: "icomoon"; }
 
.icon-gift:before {content: "\e99f";font-family: "icomoon"; }
 
.icon-glass:before {content: "\e9a0";font-family: "icomoon"; }
 
.icon-glass2:before {content: "\e9a1";font-family: "icomoon"; }
 
.icon-mug:before {content: "\e9a2";font-family: "icomoon"; }
 
.icon-spoon-knife:before {content: "\e9a3";font-family: "icomoon"; }
 
.icon-leaf:before {content: "\e9a4";font-family: "icomoon"; }
 
.icon-rocket:before {content: "\e9a5";font-family: "icomoon"; }
 
.icon-meter:before {content: "\e9a6";font-family: "icomoon"; }
 
.icon-meter2:before {content: "\e9a7";font-family: "icomoon"; }
 
.icon-hammer2:before {content: "\e9a8";font-family: "icomoon"; }
 
.icon-fire:before {content: "\e9a9";font-family: "icomoon"; }
 
.icon-lab:before {content: "\e9aa";font-family: "icomoon"; }
 
.icon-magnet:before {content: "\e9ab";font-family: "icomoon"; }
 
.icon-bin:before {content: "\e9ac";font-family: "icomoon"; }
 
.icon-bin2:before {content: "\e9ad";font-family: "icomoon"; }
 
.icon-briefcase:before {content: "\e9ae";font-family: "icomoon"; }
 
.icon-airplane:before {content: "\e9af";font-family: "icomoon"; }
 
.icon-truck:before {content: "\e9b0";font-family: "icomoon"; }
 
.icon-road:before {content: "\e9b1";font-family: "icomoon"; }
 
.icon-accessibility:before {content: "\e9b2";font-family: "icomoon"; }
 
.icon-target:before {content: "\e9b3";font-family: "icomoon"; }
 
.icon-shield:before {content: "\e9b4";font-family: "icomoon"; }
 
.icon-power:before {content: "\e9b5";font-family: "icomoon"; }
 
.icon-switch:before {content: "\e9b6";font-family: "icomoon"; }
 
.icon-power-cord:before {content: "\e9b7";font-family: "icomoon"; }
 
.icon-clipboard:before {content: "\e9b8";font-family: "icomoon"; }
 
.icon-list-numbered:before {content: "\e9b9";font-family: "icomoon"; }
 
.icon-list:before {content: "\e9ba";font-family: "icomoon"; }
 
.icon-list2:before {content: "\e9bb";font-family: "icomoon"; }
 
.icon-tree:before {content: "\e9bc";font-family: "icomoon"; }
 
.icon-menu:before {content: "\e9bd";font-family: "icomoon"; }
 
.icon-menu2:before {content: "\e9be";font-family: "icomoon"; }
 
.icon-menu3:before {content: "\e9bf";font-family: "icomoon"; }
 
.icon-menu4:before {content: "\e9c0";font-family: "icomoon"; }
 
.icon-cloud:before {content: "\e9c1";font-family: "icomoon"; }
 
.icon-cloud-download:before {content: "\e9c2";font-family: "icomoon"; }
 
.icon-cloud-upload:before {content: "\e9c3";font-family: "icomoon"; }
 
.icon-cloud-check:before {content: "\e9c4";font-family: "icomoon"; }
 
.icon-download2:before {content: "\e9c5";font-family: "icomoon"; }
 
.icon-upload2:before {content: "\e9c6";font-family: "icomoon"; }
 
.icon-download3:before {content: "\e9c7";font-family: "icomoon"; }
 
.icon-upload3:before {content: "\e9c8";font-family: "icomoon"; }
 
.icon-sphere:before {content: "\e9c9";font-family: "icomoon"; }
 
.icon-earth:before {content: "\e9ca";font-family: "icomoon"; }
 
.icon-link:before {content: "\e9cb";font-family: "icomoon"; }
 
.icon-flag:before {content: "\e9cc";font-family: "icomoon"; }
 
.icon-attachment:before {content: "\e9cd";font-family: "icomoon"; }
 
.icon-eye:before {content: "\e9ce";font-family: "icomoon"; }
 
.icon-eye-plus:before {content: "\e9cf";font-family: "icomoon"; }
 
.icon-eye-minus:before {content: "\e9d0";font-family: "icomoon"; }
 
.icon-eye-blocked:before {content: "\e9d1";font-family: "icomoon"; }
 
.icon-bookmark:before {content: "\e9d2";font-family: "icomoon"; }
 
.icon-bookmarks:before {content: "\e9d3";font-family: "icomoon"; }
 
.icon-sun:before {content: "\e9d4";font-family: "icomoon"; }
 
.icon-contrast:before {content: "\e9d5";font-family: "icomoon"; }
 
.icon-brightness-contrast:before {content: "\e9d6";font-family: "icomoon"; }
 
.icon-star-empty:before {content: "\e9d7";font-family: "icomoon"; }
 
.icon-star-half:before {content: "\e9d8";font-family: "icomoon"; }
 
.icon-star-full:before {content: "\e9d9";font-family: "icomoon"; }
 
.icon-heart:before {content: "\e9da";font-family: "icomoon"; }
 
.icon-heart-broken:before {content: "\e9db";font-family: "icomoon"; }
 
.icon-man:before {content: "\e9dc";font-family: "icomoon"; }
 
.icon-woman:before {content: "\e9dd";font-family: "icomoon"; }
 
.icon-man-woman:before {content: "\e9de";font-family: "icomoon"; }
 
.icon-happy:before {content: "\e9df";font-family: "icomoon"; }
 
.icon-happy2:before {content: "\e9e0";font-family: "icomoon"; }
 
.icon-smile:before {content: "\e9e1";font-family: "icomoon"; }
 
.icon-smile2:before {content: "\e9e2";font-family: "icomoon"; }
 
.icon-tongue:before {content: "\e9e3";font-family: "icomoon"; }
 
.icon-tongue2:before {content: "\e9e4";font-family: "icomoon"; }
 
.icon-sad:before {content: "\e9e5";font-family: "icomoon"; }
 
.icon-sad2:before {content: "\e9e6";font-family: "icomoon"; }
 
.icon-wink:before {content: "\e9e7";font-family: "icomoon"; }
 
.icon-wink2:before {content: "\e9e8";font-family: "icomoon"; }
 
.icon-grin:before {content: "\e9e9";font-family: "icomoon"; }
 
.icon-grin2:before {content: "\e9ea";font-family: "icomoon"; }
 
.icon-cool:before {content: "\e9eb";font-family: "icomoon"; }
 
.icon-cool2:before {content: "\e9ec";font-family: "icomoon"; }
 
.icon-angry:before {content: "\e9ed";font-family: "icomoon"; }
 
.icon-angry2:before {content: "\e9ee";font-family: "icomoon"; }
 
.icon-evil:before {content: "\e9ef";font-family: "icomoon"; }
 
.icon-evil2:before {content: "\e9f0";font-family: "icomoon"; }
 
.icon-shocked:before {content: "\e9f1";font-family: "icomoon"; }
 
.icon-shocked2:before {content: "\e9f2";font-family: "icomoon"; }
 
.icon-baffled:before {content: "\e9f3";font-family: "icomoon"; }
 
.icon-baffled2:before {content: "\e9f4";font-family: "icomoon"; }
 
.icon-confused:before {content: "\e9f5";font-family: "icomoon"; }
 
.icon-confused2:before {content: "\e9f6";font-family: "icomoon"; }
 
.icon-neutral:before {content: "\e9f7";font-family: "icomoon"; }
 
.icon-neutral2:before {content: "\e9f8";font-family: "icomoon"; }
 
.icon-hipster:before {content: "\e9f9";font-family: "icomoon"; }
 
.icon-hipster2:before {content: "\e9fa";font-family: "icomoon"; }
 
.icon-wondering:before {content: "\e9fb";font-family: "icomoon"; }
 
.icon-wondering2:before {content: "\e9fc";font-family: "icomoon"; }
 
.icon-sleepy:before {content: "\e9fd";font-family: "icomoon"; }
 
.icon-sleepy2:before {content: "\e9fe";font-family: "icomoon"; }
 
.icon-frustrated:before {content: "\e9ff";font-family: "icomoon"; }
 
.icon-frustrated2:before {content: "\ea00";font-family: "icomoon"; }
 
.icon-crying:before {content: "\ea01";font-family: "icomoon"; }
 
.icon-crying2:before {content: "\ea02";font-family: "icomoon"; }
 
.icon-point-up:before {content: "\ea03";font-family: "icomoon"; }
 
.icon-point-right:before {content: "\ea04";font-family: "icomoon"; }
 
.icon-point-down:before {content: "\ea05";font-family: "icomoon"; }
 
.icon-point-left:before {content: "\ea06";font-family: "icomoon"; }
 
.icon-warning:before {content: "\ea07";font-family: "icomoon"; }
 
.icon-notification:before {content: "\ea08";font-family: "icomoon"; }
 
.icon-question:before {content: "\ea09";font-family: "icomoon"; }
 
.icon-plus:before {content: "\ea0a";font-family: "icomoon"; }
 
.icon-minus:before {content: "\ea0b";font-family: "icomoon"; }
 
.icon-info:before {content: "\ea0c";font-family: "icomoon"; }
 
.icon-cancel-circle:before {content: "\ea0d";font-family: "icomoon"; }
 
.icon-blocked:before {content: "\ea0e";font-family: "icomoon"; }
 
.icon-cross:before {content: "\ea0f";font-family: "icomoon"; }
 
.icon-checkmark:before {content: "\ea10";font-family: "icomoon"; }
 
.icon-checkmark2:before {content: "\ea11";font-family: "icomoon"; }
 
.icon-spell-check:before {content: "\ea12";font-family: "icomoon"; }
 
.icon-enter:before {content: "\ea13";font-family: "icomoon"; }
 
.icon-exit:before {content: "\ea14";font-family: "icomoon"; }
 
.icon-play2:before {content: "\ea15";font-family: "icomoon"; }
 
.icon-pause:before {content: "\ea16";font-family: "icomoon"; }
 
.icon-stop:before {content: "\ea17";font-family: "icomoon"; }
 
.icon-previous:before {content: "\ea18";font-family: "icomoon"; }
 
.icon-next:before {content: "\ea19";font-family: "icomoon"; }
 
.icon-backward:before {content: "\ea1a";font-family: "icomoon"; }
 
.icon-forward2:before {content: "\ea1b";font-family: "icomoon"; }
 
.icon-play3:before {content: "\ea1c";font-family: "icomoon"; }
 
.icon-pause2:before {content: "\ea1d";font-family: "icomoon"; }
 
.icon-stop2:before {content: "\ea1e";font-family: "icomoon"; }
 
.icon-backward2:before {content: "\ea1f";font-family: "icomoon"; }
 
.icon-forward3:before {content: "\ea20";font-family: "icomoon"; }
 
.icon-first:before {content: "\ea21";font-family: "icomoon"; }
 
.icon-last:before {content: "\ea22";font-family: "icomoon"; }
 
.icon-previous2:before {content: "\ea23";font-family: "icomoon"; }
 
.icon-next2:before {content: "\ea24";font-family: "icomoon"; }
 
.icon-eject:before {content: "\ea25";font-family: "icomoon"; }
 
.icon-volume-high:before {content: "\ea26";font-family: "icomoon"; }
 
.icon-volume-medium:before {content: "\ea27";font-family: "icomoon"; }
 
.icon-volume-low:before {content: "\ea28";font-family: "icomoon"; }
 
.icon-volume-mute:before {content: "\ea29";font-family: "icomoon"; }
 
.icon-volume-mute2:before {content: "\ea2a";font-family: "icomoon"; }
 
.icon-volume-increase:before {content: "\ea2b";font-family: "icomoon"; }
 
.icon-volume-decrease:before {content: "\ea2c";font-family: "icomoon"; }
 
.icon-loop:before {content: "\ea2d";font-family: "icomoon"; }
 
.icon-loop2:before {content: "\ea2e";font-family: "icomoon"; }
 
.icon-infinite:before {content: "\ea2f";font-family: "icomoon"; }
 
.icon-shuffle:before {content: "\ea30";font-family: "icomoon"; }
 
.icon-arrow-up-left:before {content: "\ea31";font-family: "icomoon"; }
 
.icon-arrow-up:before {content: "\ea32";font-family: "icomoon"; }
 
.icon-arrow-up-right:before {content: "\ea33";font-family: "icomoon"; }
 
.icon-arrow-right:before {content: "\ea34";font-family: "icomoon"; }
 
.icon-arrow-down-right:before {content: "\ea35";font-family: "icomoon"; }
 
.icon-arrow-down:before {content: "\ea36";font-family: "icomoon"; }
 
.icon-arrow-down-left:before {content: "\ea37";font-family: "icomoon"; }
 
.icon-arrow-left:before {content: "\ea38";font-family: "icomoon"; }
 
.icon-arrow-up-left2:before {content: "\ea39";font-family: "icomoon"; }
 
.icon-arrow-up2:before {content: "\ea3a";font-family: "icomoon"; }
 
.icon-arrow-up-right2:before {content: "\ea3b";font-family: "icomoon"; }
 
.icon-arrow-right2:before {content: "\ea3c";font-family: "icomoon"; }
 
.icon-arrow-down-right2:before {content: "\ea3d";font-family: "icomoon"; }
 
.icon-arrow-down2:before {content: "\ea3e";font-family: "icomoon"; }
 
.icon-arrow-down-left2:before {content: "\ea3f";font-family: "icomoon"; }
 
.icon-arrow-left2:before {content: "\ea40";font-family: "icomoon"; }
 
.icon-circle-up:before {content: "\ea41";font-family: "icomoon"; }
 
.icon-circle-right:before {content: "\ea42";font-family: "icomoon"; }
 
.icon-circle-down:before {content: "\ea43";font-family: "icomoon"; }
 
.icon-circle-left:before {content: "\ea44";font-family: "icomoon"; }
 
.icon-tab:before {content: "\ea45";font-family: "icomoon"; }
 
.icon-move-up:before {content: "\ea46";font-family: "icomoon"; }
 
.icon-move-down:before {content: "\ea47";font-family: "icomoon"; }
 
.icon-sort-alpha-asc:before {content: "\ea48";font-family: "icomoon"; }
 
.icon-sort-alpha-desc:before {content: "\ea49";font-family: "icomoon"; }
 
.icon-sort-numeric-asc:before {content: "\ea4a";font-family: "icomoon"; }
 
.icon-sort-numberic-desc:before {content: "\ea4b";font-family: "icomoon"; }
 
.icon-sort-amount-asc:before {content: "\ea4c";font-family: "icomoon"; }
 
.icon-sort-amount-desc:before {content: "\ea4d";font-family: "icomoon"; }
 
.icon-command:before {content: "\ea4e";font-family: "icomoon"; }
 
.icon-shift:before {content: "\ea4f";font-family: "icomoon"; }
 
.icon-opt:before {content: "\ea51";font-family: "icomoon"; }
 
.icon-checkbox-checked:before {content: "\ea52";font-family: "icomoon"; }
 
.icon-checkbox-unchecked:before {content: "\ea53";font-family: "icomoon"; }
 
.icon-radio-checked:before {content: "\ea54";font-family: "icomoon"; }
 
.icon-radio-checked2:before {content: "\ea55";font-family: "icomoon"; }
 
.icon-radio-unchecked:before {content: "\ea56";font-family: "icomoon"; }
 
.icon-crop:before {content: "\ea57";font-family: "icomoon"; }
 
.icon-make-group:before {content: "\ea58";font-family: "icomoon"; }
 
.icon-ungroup:before {content: "\ea59";font-family: "icomoon"; }
 
.icon-scissors:before {content: "\ea5a";font-family: "icomoon"; }
 
.icon-filter:before {content: "\ea5b";font-family: "icomoon"; }
 
.icon-font:before {content: "\ea5c";font-family: "icomoon"; }
 
.icon-ligature:before {content: "\ea5d";font-family: "icomoon"; }
 
.icon-ligature2:before {content: "\ea5e";font-family: "icomoon"; }
 
.icon-text-height:before {content: "\ea5f";font-family: "icomoon"; }
 
.icon-text-width:before {content: "\ea60";font-family: "icomoon"; }
 
.icon-font-size:before {content: "\ea61";font-family: "icomoon"; }
 
.icon-bold:before {content: "\ea62";font-family: "icomoon"; }
 
.icon-underline:before {content: "\ea63";font-family: "icomoon"; }
 
.icon-italic:before {content: "\ea64";font-family: "icomoon"; }
 
.icon-strikethrough:before {content: "\ea65";font-family: "icomoon"; }
 
.icon-omega:before {content: "\ea66";font-family: "icomoon"; }
 
.icon-sigma:before {content: "\ea67";font-family: "icomoon"; }
 
.icon-page-break:before {content: "\ea68";font-family: "icomoon"; }
 
.icon-superscript:before {content: "\ea69";font-family: "icomoon"; }
 
.icon-subscript:before {content: "\ea6a";font-family: "icomoon"; }
 
.icon-superscript2:before {content: "\ea6b";font-family: "icomoon"; }
 
.icon-subscript2:before {content: "\ea6c";font-family: "icomoon"; }
 
.icon-text-color:before {content: "\ea6d";font-family: "icomoon"; }
 
.icon-pagebreak:before {content: "\ea6e";font-family: "icomoon"; }
 
.icon-clear-formatting:before {content: "\ea6f";font-family: "icomoon"; }
 
.icon-table:before {content: "\ea70";font-family: "icomoon"; }
 
.icon-table2:before {content: "\ea71";font-family: "icomoon"; }
 
.icon-insert-template:before {content: "\ea72";font-family: "icomoon"; }
 
.icon-pilcrow:before {content: "\ea73";font-family: "icomoon"; }
 
.icon-ltr:before {content: "\ea74";font-family: "icomoon"; }
 
.icon-rtl:before {content: "\ea75";font-family: "icomoon"; }
 
.icon-section:before {content: "\ea76";font-family: "icomoon"; }
 
.icon-paragraph-left:before {content: "\ea77";font-family: "icomoon"; }
 
.icon-paragraph-center:before {content: "\ea78";font-family: "icomoon"; }
 
.icon-paragraph-right:before {content: "\ea79";font-family: "icomoon"; }
 
.icon-paragraph-justify:before {content: "\ea7a";font-family: "icomoon"; }
 
.icon-indent-increase:before {content: "\ea7b";font-family: "icomoon"; }
 
.icon-indent-decrease:before {content: "\ea7c";font-family: "icomoon"; }
 
.icon-share:before {content: "\ea7d";font-family: "icomoon"; }
 
.icon-new-tab:before {content: "\ea7e";font-family: "icomoon"; }
 
.icon-embed:before {content: "\ea7f";font-family: "icomoon"; }
 
.icon-embed2:before {content: "\ea80";font-family: "icomoon"; }
 
.icon-terminal:before {content: "\ea81";font-family: "icomoon"; }
 
.icon-share2:before {content: "\ea82";font-family: "icomoon"; }
 
.icon-mail:before {content: "\ea83";font-family: "icomoon"; }
 
.icon-mail2:before {content: "\ea84";font-family: "icomoon"; }
 
.icon-mail3:before {content: "\ea85";font-family: "icomoon"; }
 
.icon-mail4:before {content: "\ea86";font-family: "icomoon"; }
 
.icon-amazon:before {content: "\ea87";font-family: "icomoon"; }
 
.icon-google:before {content: "\ea88";font-family: "icomoon"; }
 
.icon-google2:before {content: "\ea89";font-family: "icomoon"; }
 
.icon-google3:before {content: "\ea8a";font-family: "icomoon"; }
 
.icon-google-plus:before {content: "\ea8b";font-family: "icomoon"; }
 
.icon-google-plus2:before {content: "\ea8c";font-family: "icomoon"; }
 
.icon-google-plus3:before {content: "\ea8d";font-family: "icomoon"; }
 
.icon-hangouts:before {content: "\ea8e";font-family: "icomoon"; }
 
.icon-google-drive:before {content: "\ea8f";font-family: "icomoon"; }
 
.icon-facebook:before {content: "\ea90";font-family: "icomoon"; }
 
.icon-facebook2:before {content: "\ea91";font-family: "icomoon"; }
 
.icon-instagram:before {content: "\ea92";font-family: "icomoon"; }
 
.icon-whatsapp:before {content: "\ea93";font-family: "icomoon"; }
 
.icon-spotify:before {content: "\ea94";font-family: "icomoon"; }
 
.icon-telegram:before {content: "\ea95";font-family: "icomoon"; }
 
.icon-twitter:before {content: "\ea96";font-family: "icomoon"; }
 
.icon-vine:before {content: "\ea97";font-family: "icomoon"; }
 
.icon-vk:before {content: "\ea98";font-family: "icomoon"; }
 
.icon-renren:before {content: "\ea99";font-family: "icomoon"; }
 
.icon-sina-weibo:before {content: "\ea9a";font-family: "icomoon"; }
 
.icon-rss:before {content: "\ea9b";font-family: "icomoon"; }
 
.icon-rss2:before {content: "\ea9c";font-family: "icomoon"; }
 
.icon-youtube:before {content: "\ea9d";font-family: "icomoon"; }
 
.icon-youtube2:before {content: "\ea9e";font-family: "icomoon"; }
 
.icon-twitch:before {content: "\ea9f";font-family: "icomoon"; }
 
.icon-vimeo:before {content: "\eaa0";font-family: "icomoon"; }
 
.icon-vimeo2:before {content: "\eaa1";font-family: "icomoon"; }
 
.icon-lanyrd:before {content: "\eaa2";font-family: "icomoon"; }
 
.icon-flickr:before {content: "\eaa3";font-family: "icomoon"; }
 
.icon-flickr2:before {content: "\eaa4";font-family: "icomoon"; }
 
.icon-flickr3:before {content: "\eaa5";font-family: "icomoon"; }
 
.icon-flickr4:before {content: "\eaa6";font-family: "icomoon"; }
 
.icon-dribbble:before {content: "\eaa7";font-family: "icomoon"; }
 
.icon-behance:before {content: "\eaa8";font-family: "icomoon"; }
 
.icon-behance2:before {content: "\eaa9";font-family: "icomoon"; }
 
.icon-deviantart:before {content: "\eaaa";font-family: "icomoon"; }
 
.icon-500px:before {content: "\eaab";font-family: "icomoon"; }
 
.icon-steam:before {content: "\eaac";font-family: "icomoon"; }
 
.icon-steam2:before {content: "\eaad";font-family: "icomoon"; }
 
.icon-dropbox:before {content: "\eaae";font-family: "icomoon"; }
 
.icon-onedrive:before {content: "\eaaf";font-family: "icomoon"; }
 
.icon-github:before {content: "\eab0";font-family: "icomoon"; }
 
.icon-npm:before {content: "\eab1";font-family: "icomoon"; }
 
.icon-basecamp:before {content: "\eab2";font-family: "icomoon"; }
 
.icon-trello:before {content: "\eab3";font-family: "icomoon"; }
 
.icon-wordpress:before {content: "\eab4";font-family: "icomoon"; }
 
.icon-joomla:before {content: "\eab5";font-family: "icomoon"; }
 
.icon-ello:before {content: "\eab6";font-family: "icomoon"; }
 
.icon-blogger:before {content: "\eab7";font-family: "icomoon"; }
 
.icon-blogger2:before {content: "\eab8";font-family: "icomoon"; }
 
.icon-tumblr:before {content: "\eab9";font-family: "icomoon"; }
 
.icon-tumblr2:before {content: "\eaba";font-family: "icomoon"; }
 
.icon-yahoo:before {content: "\eabb";font-family: "icomoon"; }
 
.icon-yahoo2:before {content: "\eabc";font-family: "icomoon"; }
 
.icon-tux:before {content: "\eabd";font-family: "icomoon"; }
 
.icon-appleinc:before {content: "\eabe";font-family: "icomoon"; }
 
.icon-finder:before {content: "\eabf";font-family: "icomoon"; }
 
.icon-android:before {content: "\eac0";font-family: "icomoon"; }
 
.icon-windows:before {content: "\eac1";font-family: "icomoon"; }
 
.icon-windows8:before {content: "\eac2";font-family: "icomoon"; }
 
.icon-soundcloud:before {content: "\eac3";font-family: "icomoon"; }
 
.icon-soundcloud2:before {content: "\eac4";font-family: "icomoon"; }
 
.icon-skype:before {content: "\eac5";font-family: "icomoon"; }
 
.icon-reddit:before {content: "\eac6";font-family: "icomoon"; }
 
.icon-hackernews:before {content: "\eac7";font-family: "icomoon"; }
 
.icon-wikipedia:before {content: "\eac8";font-family: "icomoon"; }
 
.icon-linkedin:before {content: "\eac9";font-family: "icomoon"; }
 
.icon-linkedin2:before {content: "\eaca";font-family: "icomoon"; }
 
.icon-lastfm:before {content: "\eacb";font-family: "icomoon"; }
 
.icon-lastfm2:before {content: "\eacc";font-family: "icomoon"; }
 
.icon-delicious:before {content: "\eacd";font-family: "icomoon"; }
 
.icon-stumbleupon:before {content: "\eace";font-family: "icomoon"; }
 
.icon-stumbleupon2:before {content: "\eacf";font-family: "icomoon"; }
 
.icon-stackoverflow:before {content: "\ead0";font-family: "icomoon"; }
 
.icon-pinterest:before {content: "\ead1";font-family: "icomoon"; }
 
.icon-pinterest2:before {content: "\ead2";font-family: "icomoon"; }
 
.icon-xing:before {content: "\ead3";font-family: "icomoon"; }
 
.icon-xing2:before {content: "\ead4";font-family: "icomoon"; }
 
.icon-flattr:before {content: "\ead5";font-family: "icomoon"; }
 
.icon-foursquare:before {content: "\ead6";font-family: "icomoon"; }
 
.icon-yelp:before {content: "\ead7";font-family: "icomoon"; }
 
.icon-paypal:before {content: "\ead8";font-family: "icomoon"; }
 
.icon-chrome:before {content: "\ead9";font-family: "icomoon"; }
 
.icon-firefox:before {content: "\eada";font-family: "icomoon"; }
 
.icon-IE:before {content: "\eadb";font-family: "icomoon"; }
 
.icon-edge:before {content: "\eadc";font-family: "icomoon"; }
 
.icon-safari:before {content: "\eadd";font-family: "icomoon"; }
 
.icon-opera:before {content: "\eade";font-family: "icomoon"; }
 
.icon-file-pdf:before {content: "\eadf";font-family: "icomoon"; }
 
.icon-file-openoffice:before {content: "\eae0";font-family: "icomoon"; }
 
.icon-file-word:before {content: "\eae1";font-family: "icomoon"; }
 
.icon-file-excel:before {content: "\eae2";font-family: "icomoon"; }
 
.icon-libreoffice:before {content: "\eae3";font-family: "icomoon"; }
 
.icon-html-five:before {content: "\eae4";font-family: "icomoon"; }
 
.icon-html-five2:before {content: "\eae5";font-family: "icomoon"; }
 
.icon-css3:before {content: "\eae6";font-family: "icomoon"; }
 
.icon-git:before {content: "\eae7";font-family: "icomoon"; }
 
.icon-codepen:before {content: "\eae8";font-family: "icomoon"; }
 
.icon-svg:before {content: "\eae9";font-family: "icomoon"; }
 
.icon-IcoMoon:before {content: "\eaea";font-family: "icomoon"; }