/**
* 查询条件输入框样式
**/

/*=====查询条件输入框的文字====*/
li>span.label {
	display: inline-block;
	width: 40%;
  line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row.plat-row>li>span.label{
		width: auto;
}
.row.plat-row>li>input,
.row.plat-row>li>select,
.row.plat-row>li>textarea,{
		width: 168px;
}
/*===== END =====*/

/*===== 查询条件输入框 =====*/
li>.inputText,
li>.Wdate,
li>select {
  outline: none;
	width: 46%;
	margin: 0px 10px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px solid #cccccc;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

li>.inputText,
li>.Wdate{
	padding: 0 6px;
	box-sizing: border-box;
}
li>select{
	padding: 0 6px;
	padding:2px 0\9;/*兼容ie8*/

}
/*===== END =====*/

.row>.inputText {
	height: 25px;
}

.row input[type="button"] {
	padding: 0px;
	width: auto;
	height: 20px;
	padding: 0 5px;
	box-sizing: border-box;
	position: relative;
	right: 43px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	cursor: pointer;
}